<div class="d-flex justify-content-between align-items-center">
  <div>
    Selamat datang di dashboard <span class="font-weight-bold"><%= current_user.username %></span>. 
  </div>
  <div>
    <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-light btn-sm" %>
  </div>
</div>

<% if current_user.admin? %>
  <div class="my-4 py-4 border-top border-bottom">
    <%= link_to "Pendaftaran User Baru Disini", "/users/new" %>
  </div>
<% end %> 

<% if current_user.admin? %>
  <%= form_with url: history_index_path, method: :post, local: true do |form|  %>
    <div class="d-flex justify-content-between my-4 py-4">
      <div>
        <%= select_tag "users", options_from_collection_for_select(User.all, "id", "username"), class: 'form-control' %>
      </div>
      <div>
        <%= form.submit "Cukur hari ini", class: "btn btn-info btn-xs" %> 
      </div>
    </div>
  <% end  %>
<% end  %>

<% if current_user.member? %>
  <div class="my-4 py-4">
    <div class="my-3">
      Total Point anda: <%= current_user.point.total %>
    </div>
    <div>
      <% if current_user.histories.any? %>
        <ul>
          <% current_user.histories.each do |h| %>
            <li><%= h.content %></li>
          <% end %> 
        </ul>  
      <% else %>
        <p> Maaf, history masih kosong. </p> 
      <% end %> 
    </div>
  </div>
<% end %>  
