<h2 class="my-4">Login Page</h2>

<% flash.each do |key, val| %>
  <p><i><%= val %></i></p>
<% end %>

<%= form_with(url: login_path, method: :post, local: true) do |f|  %>
<div class="form-group row">
    <%= f.label :username, class: 'col-form-label col-md-3' %>
    <div class="col-md-9">
      <%= f.text_field :username, class: 'form-control' %>
    </div>
</div>
<div class="form-group row">
  <%= f.label :password, class: 'col-form-label col-md-3' %>
  <div class="col-md-9">
    <%= f.password_field :password, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-9 offset-md-3">
    <%= f.submit "Login", class: "btn btn-primary btn-block" %>
  </div>
</div>
<% end %>

