<h2 class="my-4">Register New User</h2>

<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %> 
    </ul>
  </div>
<% end %> 

<%= form_with(model: @user, method: :post, url: users_path, local: true) do |f|  %>
  <div class="form-group row">
    <%= f.label :username, class: 'col-form-label col-md-3' %>
    <div class="col-md-9">
      <%= f.text_field :username, placeholder: :username, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :password, class: 'col-form-label col-md-3' %>
    <div class="col-md-9">
      <%= f.password_field :password, placeholder: "password", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :password_confirmation, class: 'col-form-label col-md-3' %>
    <div class="col-md-9">
      <%= f.password_field :password_confirmation, placeholder: "password confimation", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-9 offset-md-3">
      <%= f.submit "Register User", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>