<!DOCTYPE html>
<html>
  <head>
    <title>HistoryPoints</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container my-4 py-4">
      <div class="col-md-5">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
